<div class="mi-social-inner bg-gradient">
  {{ with .socials.linkedin }}<a href="{{ . }}" target="_blank"><i class="fa-brands fa-linkedin fa-lg"></i></a>{{ end }}
  {{ with .socials.bluesky }}<a href="{{ . }}" target="_blank"><i class="fa-brands fa-bluesky fa-lg"></i></a>{{ end }}
  {{ with .socials.twitter }}<a href="{{ . }}" target="_blank"><i class="fa-brands fa-square-x-twitter fa-lg"></i></a>{{ end }}
  {{ with .socials.mastodon }}<a href="{{ . }}" target="_blank"><i class="fa-brands fa-mastodon fa-lg"></i></a>{{ end }}
  {{ with .socials.github }}<a href="{{ . }}" target="_blank"><i class="fa-brands fa-github fa-lg"></i></a>{{ end }}
  {{ with .socials.facebook }}<a href="{{ . }}" target="_blank"><i class="fa-brands fa-facebook fa-lg"></i></a>{{ end }}
  {{ with .socials.instagram }}<a href="{{ . }}" target="_blank"><i class="fa-brands fa-instagram fa-lg"></i></a>{{ end }}
</div>
