<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Une journée de conférences et ateliers Agile</h3>
            <h4>Sur le développement logiciel, la culture produit et les transformations organisationnelles.</h4>
            <div class="row about-details">
                <p></p>
                <p><b>Un dispositif particulier pour cette cinquième édition est à l'étude.</b></p>
                <p>Plusieurs options sont à l'étude, afin de pouvoir s'adapter en fonction des règles sanitaires qui seront en place et de différentes contrainte de cette édition.</p>
                <ul>
                    <li>Format hybride presentiel/distanciel</li>
                    <li>Uniquement le samedi, pour ne pas compliquer d'avantage le planning des cours à l'ESTIA</li>
                    <li>Repas sur place en exterieur ou panier repas dans le (comme chaque Samedi)</li>
                </ul>
                <p>le reste on garde les bases qui font l'ADN de cet evenement : partages et convivialité</p>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->