<div class="ft-social">
  <a href="{{ .Site.Params.social.linkedin }}" target="_blank"><i class="fa-brands fa-linkedin fa-lg"></i></a>
  <a href="{{ .Site.Params.social.x }}" target="_blank"><i class="fa-brands fa-square-x-twitter fa-lg"></i></a>
  <a href="{{ .Site.Params.social.bluesky }}" target="_blank"><i class="fa-brands fa-bluesky fa-lg"></i></a>
  <a href="{{ .Site.Params.social.facebook }}" target="_blank"><i class="fa-brands fa-facebook fa-lg"></i></a>
  <a href="{{ .Site.Params.social.youtube }}" target="_blank"><i class="fa-brands fa-youtube"></i></i></a>
</div>
