{{ define "main" }}

{{ partial "page-title" . }}

<!-- Last Edition Section Begin -->
<section class="page-section">
    <div class="container">
        <div class="row">
            {{ $talks := index $.Site.Data.edition (printf "talks%s" .Params.edition) }}
            {{ range $talks.proposals }}
                {{ if eq .confirmationStatus "CONFIRMED" }}
                    {{ partial "talk" (dict "talk" .) }}
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>
<!-- Last Edition Section End -->

{{ partial "partners" . }}

{{ partial "newsletter" . }}

{{ end }}
