{{ define "main" }}

{{ partial "page-title" . }}

{{ $schedule := index .Site.Data.edition (printf "schedule%s" .Params.edition) }}
{{ $talks := index $.Site.Data.edition (printf "talks%s" .Params.edition) }}

<section class="page-section schedule">
    <div class="container">
        <div class="row">
            <!-- Navigation pour les tracks -->
            <div class="col-md-12 nav-link-wrap">
                <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    {{ range $schedule.tracks }}
                    <a class="nav-link ftco-animate fadeInUp {{ if eq .id "amphi" }}active{{ end }}" id="v-pills-{{ .id }}-tab" data-toggle="pill" href="#v-pills-{{ .id }}" role="tab" aria-controls="v-pills-{{ .id }}" aria-selected="true">
                        {{ .name }}
                    </a>
                    {{ end }}
                </div>
            </div>

            <!-- Contenu des tracks -->
            <div class="col-md-12 tab-wrap">
                <div class="tab-content" id="v-pills-tabContent">
                    {{ range $schedule.tracks }}
                    <div class="tab-pane fade {{ if eq .id "amphi" }}show active{{ end }}" id="v-pills-{{ .id }}" role="tabpanel" aria-labelledby="v-pills-{{ .id }}-tab">
                    {{ range .sessions }}
                    {{ $talks := where $talks.proposals "id" .talk_id }}
                    {{ $talk := index $talks 0 }}
                        {{ partial "talk" $talk }}
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>

{{ partial "newsletter" . }}

{{ end }}
