{{ define "main" }}

{{ partial "page-title" . }}

<section class="page-section">
    <div class="schedule">
        <div class="row">
            <!-- Navigation pour les tracks -->
            <div class="col-md-12 nav-link-wrap">
                <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    {{ range .Site.Data.edition.schedule2024.tracks }}
                    <a class="nav-link ftco-animate fadeInUp {{ if eq .id "amphi" }}active{{ end }}" id="v-pills-{{ .id }}-tab" data-toggle="pill" href="#v-pills-{{ .id }}" role="tab" aria-controls="v-pills-{{ .id }}" aria-selected="true">
                    {{ .name }}
                    </a>
                    {{ end }}
                </div>
            </div>

            <!-- Contenu des tracks -->
            <div class="col-md-12 tab-wrap">
                <div class="tab-content" id="v-pills-tabContent">
                    {{ range .Site.Data.edition.schedule2024.tracks }}
                    <div class="tab-pane fade {{ if eq .id "amphi" }}show active{{ end }}" id="v-pills-{{ .id }}" role="tabpanel" aria-labelledby="v-pills-{{ .id }}-tab">
                    {{ range .sessions }}
                    {{ $talks := where $.Site.Data.edition.apb2024.proposals "id" .talk_id }}
                    {{ $talk := index $talks 0 }}

                    <div class="speaker-wrap">
                        <div class="text">
                            <span class="time">{{ .time }}</span>
                            <h2>{{ $talk.title }}</h2>
                            <p>{{ $talk.abstract | safeHTML }}</p>
                            <h3 class="speaker-name">
                                {{ range $talk.speakers }}
                                {{ $filename := printf "speakers/%s.jpeg" (replace .name " " "") }}
                                {{ partial "asset-image" (dict "src" $filename "alt" .name  "size" "96x" "class" "img-fluid rounded-circle") }}
                                {{ .name }} {{ with .company }}<span class="position">{{ . }}</span>{{ end }}
                                {{ end }}
                            </h3>
                        </div>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>

{{ partial "newsletter" . }}

{{ end }}
