{{ define "main" }}

{{ partial "page-title" . }}

{{ $talks := index $.Site.Data.edition (printf "talks%s" .Params.edition) }}

<!-- Speaker Section Begin -->
<section class="page-section">
    <div class="container">
        <div class="row">
            {{ range $talks.proposals }}
            {{ if eq .confirmationStatus "CONFIRMED" }}
            {{ range .speakers }}
            <div class="col-sm-12">
                <div class="speaker-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="si-pic">
                                {{ $filename := printf "speakers/%s.jpeg" (replace .name " " "") }}
                                {{ partial "asset-image" (dict "src" $filename "alt" .name  "size" "300x" "class" "img-fluid") }}
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="si-text">
                                <div class="si-title">
                                    <h2>{{ .name }} {{ with .location }}<span class="location">({{ . }})</span>{{ end }}</h2>
                                    {{ with .company }}
                                    <span class="company">{{ . }}</span>
                                    {{ end }}
                                </div>
                                <div class="si-social">
                                {{ partial "social-media/speaker" . }}
                                <p class="bio">
                                    {{ .bio }}
                                </p>
                                {{ if gt (len .bio) 520 }}
                                <button class="btn btn-link toggle-bio-btn p-0">
                                    Voir plus
                                </button>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            {{ end }}
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
<!-- Speaker Section End -->

{{ partial "newsletter" . }}

{{ end }}
