{{ define "main" }}

{{ partial "page-title" . }}

<section class="page-section team-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Agile Pays Basque est une association portée par des membres impliqués de la communauté du Pays Basque, tous bénévoles, qui s’engagent à promouvoir l’agilité sans but lucratif et à offrir un espace de partage et de coopération.
                </p>
                <h2 class=" mb-5">Les orgas</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{ range .Site.Data.team.members }}
            <div class="member-item col-lg-4 mb-3">
                {{ partial "asset-image" (dict "src" .image "alt" .name "size" "200x") }}
                <div class="mi-social">
                    {{ partial "social-media/team" . }}
                </div>
                <div class="mi-text">
                    <h3>{{ .name }}</h3>
                   {{ with .position }}<span>{{ . }}</span>{{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class=" mb-5">Nos partenaires de l'ESTIA</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{ range .Site.Data.team.partners }}
            <div class="member-item col-lg-4">
                {{ partial "asset-image" (dict "src" .image "alt" .name "size" "200x") }}
                <div class="mi-social">
                    {{ partial "social-media/team" . }}
                </div>
                <div class="mi-text">
                    <h3>{{ .name }}</h3>
                    {{ with .position }}<span>{{ . }}</span>{{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

{{ partial "newsletter" . }}

{{ end }}
