{{ define "main" }}
{{ with .Site.Params.venue }}
<!-- Venue Top Content Section Begin -->
<section class="contact-content-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="cc-text set-bg" data-setbg="/img/venue-bg.jpg">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-4">
                            {{ partial "venue" . }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cc-map">
                    {{ with .map }}
                    <iframe
                        src="{{ . }}"
                        height="580"
                        style="border:0;"
                        allowfullscreen=""></iframe>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Venue Top Content Section End -->
{{ end }}

<section class="page-section">
    <div class="container">
        <div class="row">
            {{ .Content }}
        </div>
    </div>
</section>

{{ partial "newsletter" . }}


{{ end }}
