{{ define "main" }}
{{ with .Site.Params.venue }}
<!-- Venue Top Content Section Begin -->
<section class="contact-content-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="cc-text set-bg" data-setbg="/img/venue-bg.jpg">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-4">
                            <div class="section-title">
                                <h2>Où se trouve la conférence ?</h2>
                                <p>Comme chaque année, la conférence se déroule à Bidart, au Pays basque, plus précisément dans les locaux de l'ESTIA.</p>
                            </div>
                            <div class="cs-text">
                                {{ with .address }}
                                <div class="ct-address">
                                    <span>Adresse:</span>
                                    <p>{{ . | safeHTML }}</p>
                                </div>
                                {{ end }}
                                {{ with .link }}
                                <div class="ct-links">
                                    <span>Site Web:</span>
                                    <p>{{ . | safeHTML }}</p>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cc-map">
                    {{ with .map }}
                    <iframe
                        src="{{ . }}"
                        height="580"
                        style="border:0;"
                        allowfullscreen=""></iframe>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Venue Top Content Section End -->
{{ end }}

<section class="page-section">
    <div class="container">
        <div class="row">
            {{ .Content }}
        </div>
    </div>
</section>

{{ partial "newsletter" . }}


{{ end }}
