<head>
  <!-- Title -->
  <title>{{ .Site.Title }} {{ with .Title }} | {{ . }} {{ end }}</title>

  <!-- Meta -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  {{ with .Description }}
  <meta name="description" content="{{ . }}" />
  {{ end }}
  {{ with .Keywords }}
  <meta name="keywords" content="{{ delimit . " " }}" />
  {{ end }}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">

  <!-- Stylesheets -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" rel="stylesheet">
  {{ $style := resources.Get "/css/style.css" | resources.Minify }}
  {{ $bootstrap := resources.Get "/css/bootstrap.min.css" | resources.Minify }}
  {{ $style := slice $bootstrap $style | resources.Concat "css/bundle.css" | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" type="text/css">

  <!-- SEO -->
  {{ template "_internal/twitter_cards.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/opengraph.html" . }}

  <!-- Favicons and Manifest -->
  {{ partial "favicon/favicons" . }}

  <link rel="canonical" href="{{ .Permalink }}" />
  <meta name="robots" content="index,follow">

  <!--  Analytics -->
  <script defer src="https://cloud.umami.is/script.js" data-website-id="5ec8beec-018b-4191-9cb1-805d7a4d1008"></script>
</head>
