<head>
  <!-- Title -->
  <title>{{ .Site.Title }} {{ with .Title }} | {{ . }} {{ end }}</title>

  <!-- Meta -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  {{ with .Description }}
  <meta name="description" content="{{ . }}" />
  {{ end }}
  {{ with .Keywords }}
  <meta name="keywords" content="{{ delimit . " " }}" />
  {{ end }}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">

  <!-- Stylesheets and Javascript -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css" type="text/css">

  <!-- SEO -->
  {{ template "_internal/twitter_cards.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/opengraph.html" . }}

  <link rel="canonical" href="{{ .Permalink }}" />
  <meta name="robots" content="index,follow">
</head>
