<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section">
  <div class="container">
    <div class="logo">
      <a href="/">
        {{ partial "asset-image" (dict "src" "logo.png" "alt" "Logo" "size" "48x48") }}
      </a>
    </div>
    <div class="nav-menu">
      <nav class="mainmenu mobile-menu">
        <ul>
          {{ range sort (.Site.Menus.main) "Weight" "asc" }}
          <li>
            <a href="{{ .URL }}" {{ with .Params.target }}target="{{ . }}"{{ end }}>{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </nav>
      {{ with .Site.Params.menu.mainAction }}
        {{ if .enable }}
          <a class="primary-btn top-btn" href="{{ .url }}" {{ if .openInNewPage }} target="_blank"{{ end }}>{{ .Name }}</a>
        {{ end }}
      {{ end }}
    </div>
    <div id="mobile-menu-wrap"></div>
  </div>
</header>
<!-- Header End -->
