<!-- Newslatter Section Begin -->
<section class="newsletter-section">
  <div class="container">
    <div class="content set-bg" data-setbg="/img/newslatter-bg.jpg">
      <div class="text">
        <h3>S'inscrire à notre newsletter</h3>
        <p>Recevez les dernières infos sur la prochaine édition</p>
      </div>
      <form action="https://gmail.us11.list-manage.com/subscribe/post?u=5d45ce6a37e73f92ffd2bac03&amp;id=9247520840&amp;f_id=00afa6e0f0">
        <input name="b_9fc8aa205b0521b5f05fc8e1e_ae0fb459fc" type="text" placeholder="Votre email">
        <button type="submit" class="bg-gradient">S'inscrire</button>
      </form>
    </div>
  </div>
</section>
<!-- Newslatter Section End -->
