<!-- Newslatter Section Begin -->
<section class="newsletter-section">
  <div class="container">
    <div class="content set-bg" data-setbg="/img/newslatter-bg.jpg">
      <div class="row">
        <div class="col-lg-6 text">
          <h3>Soyez les premier.e.s informé.e.s !</h3>
          <p>Inscrivez-vous à notre newsletter pour ne pas rater l’ouverture de la billetterie, l’annonce du CFP et toutes les actus sur la prochaine édition !</p>
        </div>
        <div class="col-lg-6 d-flex">
          <form action="https://gmail.us11.list-manage.com/subscribe/post?u=5d45ce6a37e73f92ffd2bac03&amp;id=9247520840&amp;f_id=00afa6e0f0"
                method="post"
                id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form"
                class="justify-content-center align-self-center ml-lg-auto "
          >
            <input type="email" id="mce-EMAIL" name="EMAIL" placeholder="Votre email" autocomplete="off">
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_9fc8aa205b0521b5f05fc8e1e_ae0fb459fc" placeholder="hidden" tabindex="-1" value="">
            </div>
            <button type="submit" class="bg-gradient">S'inscrire</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Newslatter Section End -->
