<div class="ft-social">
  <a href="{{ .Site.Params.social.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
  <a href="{{ .Site.Params.social.x }}" target="_blank"><i class="fa fa-twitter"></i></a>
  <a href="{{ .Site.Params.social.bluesky }}" target="_blank"><i class="fa fa-twitter"></i></a>
  <a href="{{ .Site.Params.social.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
  <a href="{{ .Site.Params.social.youtube }}" target="_blank"><i class="fa fa-youtube-play"></i></a>
</div>
