{{ define "main" }}
<!-- Hero Section Begin -->
<section class="hero-section set-bg" data-setbg="img/hero.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="hero-text">
                    {{ with .Site.Params.homepage.topTitle }}
                    <span>{{ . | safeHTML }}</span>
                    {{ end }}
                    {{ with .Site.Params.homepage.title }}
                    <h1>{{ . | safeHTML }}</h1>
                    {{ end }}
                    {{ with .Site.Params.homepage.subTitle }}
                    <h2>{{ . | safeHTML }}</h2>
                    {{ end }}
                    {{ with .Site.Params.homepage.link }}
                    <a href="{{ .url }}" class="primary-btn">{{ .label }}</a>
                    {{ end }}
                </div>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

{{ with .Site.Params.homepage.countdown.display }}
<!-- Counter Section Begin -->
<section class="counter-section bg-gradient">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="counter-text">
                    <span>Entre mer et montagne,</span>
                    <h3>Agile Pays Basque est de retour en 2025</h3>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="cd-timer" id="countdown">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section End -->
{{ end }}

<!-- Home About Section Begin -->
<section class="home-about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex ">
                <div class="ha-pic justify-content-center align-self-center align w-100">
                    {{ partial "asset-image" (dict "src" "homepage-about.jpg" "alt" "Agile Pays Basque" "size" "800x" "class" "img-fluid") }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>Une conférence pour tous les curieux·ses !</h2>
                    <p>
                        Agile Pays Basque est une conférence qui se tient au Pays Basque à quelques pas de l'océan. Nous réunissons les acteurs du monde du logiciel comme les développeurs, le produit, les designers, les facilitateurs ainsi que tous les curieux désireux de découvrir et d'apprendre de nouvelles choses. C'est aussi l'occasion de rencontrer la communauté agile afin d'échanger dans une atmosphère conviviale.
                    </p>
                    <p>
                        C'est 2 journées pour assister à :
                    <p>
                    <ul>
                        <li><i class="fa-solid fa-check"></i> Des talks</li>
                        <li><i class="fa-solid fa-check"></i> Des Ateliers</li>
                        <li><i class="fa-solid fa-check"></i> Un "Forum ouvert"</li>
                        <li><i class="fa-solid fa-check"></i> Et un petit tour à la plage</li>
                    </ul>

                    <a href="/a-propos/" class="ha-btn">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home About Section End -->

{{ with .Site.Params.homepage.pricing.display }}
<!-- Pricing Section Begin -->
<section class="pricing-section set-bg" data-setbg="img/pricing-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>La billeterie est ouverte</h2>
                    <p>Prenez votre place</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8">
                <div class="price-item">
                    <h4>1 Day Pass</h4>
                    <div class="pi-price">
                        <h2><span>$</span>129</h2>
                    </div>
                    <ul>
                        <li>One Day Conference Ticket</li>
                        <li>Coffee-break</li>
                        <li>Lunch and Networking</li>
                        <li>Keynote talk</li>
                        <li>Talk to the Editors Session</li>
                    </ul>
                    <a href="#" class="price-btn">Get Ticket <span class="arrow_right"></span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="price-item top-rated">
                    <div class="tr-tag">
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>Full Pass</h4>
                    <div class="pi-price">
                        <h2><span>$</span>199</h2>
                    </div>
                    <ul>
                        <li>One Day Conference Ticket</li>
                        <li>Coffee-break</li>
                        <li>Lunch and Networking</li>
                        <li>Keynote talk</li>
                        <li>Talk to the Editors Session</li>
                        <li>Lunch and Networking</li>
                        <li>Keynote talk</li>
                    </ul>
                    <a href="#" class="price-btn">Get Ticket <span class="arrow_right"></span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="price-item">
                    <h4>Group Pass</h4>
                    <div class="pi-price">
                        <h2><span>$</span>79</h2>
                    </div>
                    <ul>
                        <li>One Day Conference Ticket</li>
                        <li>Coffee-break</li>
                        <li>Lunch and Networking</li>
                        <li>Keynote talk</li>
                        <li>Talk to the Editors Session</li>
                    </ul>
                    <a href="#" class="price-btn">Get Ticket <span class="arrow_right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Section End -->
{{ end }}

{{ partial "newsletter" . }}

{{ if .Site.Params.homepage.venue.display }}
{{ with .Site.Params.venue }}
<!-- Contact Section Begin -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {{ partial "venue" . }}
            </div>
            <div class="col-lg-6">
                <div class="cs-map">
                    {{ with .map }}
                    <iframe src="{{ . }}"
                            width="600"
                            height="450"
                            style="border:0;"
                            allowfullscreen="false"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
{{ end }}
{{ end }}
{{ end }}
