{{ define "main" }}
<!-- Hero Section Begin -->
<section class="hero-section set-bg" data-setbg="img/hero.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="hero-text">
                    {{ with .Site.Params.homepage.topTitle }}
                    <span>{{ . | safeHTML }}</span>
                    {{ end }}
                    {{ with .Site.Params.homepage.title }}
                    <h1>{{ . | safeHTML }}</h1>
                    {{ end }}
                    {{ with .Site.Params.homepage.subTitle }}
                    <h2>{{ . | safeHTML }}</h2>
                    {{ end }}
                    {{ with .Site.Params.homepage.link }}
                    <a href="{{ .url }}" class="primary-btn">{{ .label }}</a>
                    {{ end }}
                </div>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

{{ with .Site.Params.homepage.countdown }}
<!-- Counter Section Begin -->
{{ if .display }}
<section class="counter-section bg-gradient">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="counter-text">
                    <span>{{ .subtitle | safeHTML }}</span>
                    <h3>{{ .title | safeHTML }}</h3>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="cd-timer" id="countdown">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section End -->
{{ end }}
{{ end }}

<!-- Home About Section Begin -->
<section class="home-about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex ">
                <div class="ha-pic justify-content-center align-self-center align w-100">
                    {{ partial "asset-image" (dict "src" "homepage-about.jpg" "alt" "Agile Pays Basque" "class" "img-fluid") }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>Une conférence pour tous les curieux·ses !</h2>

                    <p>
                        La conférence Agile Pays Basque se tient tous les ans à Bidart, dans les Pyrénées Atlantiques (64), à quelques pas de l'océan. <br>
                    </p>
                    <p>
                        L’objectif de cette conférence, qui se tient sur 1 journée, est de réunir les acteurs du monde du logiciel. Que vous soyez développeur, product manager, UX/UI designer, facilitateur ou tout simplement curieux et désireux de découvrir et d'apprendre de nouvelles choses.<br>
                    </p>
                    <p>
                        Agile Pays Basque, c'est aussi l'occasion de rencontrer la communauté Agile et de partager dans une atmosphère conviviale. 1 journée de conférence pour assister à :
                    </p>
                    <ul>
                        <li><i class="fa-solid fa-check"></i> Des talks</li>
                        <li><i class="fa-solid fa-check"></i> Des ateliers</li>
                        <!--<li><i class="fa-solid fa-check"></i> Un "Forum ouvert"</li>-->
                    </ul>
                    <p>
                        Et bien sûr, échanger sur les bonnes pratiques autour du développement, du product management, du design… rencontrer vos pairs et pourquoi pas profiter de l’océan Atlantique en allant faire un petit tour à la plage…
                    </p>

                    <a href="{{ "valeurs" | relLangURL }}" class="ha-btn">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home About Section End -->

{{ with .Site.Params.homepage.pricing.display }}
<!-- Pricing Section Begin -->
<section class="pricing-section set-bg" data-setbg="img/pricing-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>La billeterie est ouverte</h2>
                    <p>Prenez votre place</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8">
                <div class="price-item">
                    <h4>1 Day Pass</h4>
                    <div class="pi-price">
                        <h2><span>$</span>129</h2>
                    </div>
                    <ul>
                        <li>One Day Conference Ticket</li>
                        <li>Coffee-break</li>
                        <li>Lunch and Networking</li>
                        <li>Keynote talk</li>
                        <li>Talk to the Editors Session</li>
                    </ul>
                    <a href="#" class="price-btn">Get Ticket <span class="arrow_right"></span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="price-item top-rated">
                    <div class="tr-tag">
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>Full Pass</h4>
                    <div class="pi-price">
                        <h2><span>$</span>199</h2>
                    </div>
                    <ul>
                        <li>One Day Conference Ticket</li>
                        <li>Coffee-break</li>
                        <li>Lunch and Networking</li>
                        <li>Keynote talk</li>
                        <li>Talk to the Editors Session</li>
                        <li>Lunch and Networking</li>
                        <li>Keynote talk</li>
                    </ul>
                    <a href="#" class="price-btn">Get Ticket <span class="arrow_right"></span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="price-item">
                    <h4>Group Pass</h4>
                    <div class="pi-price">
                        <h2><span>$</span>79</h2>
                    </div>
                    <ul>
                        <li>One Day Conference Ticket</li>
                        <li>Coffee-break</li>
                        <li>Lunch and Networking</li>
                        <li>Keynote talk</li>
                        <li>Talk to the Editors Session</li>
                    </ul>
                    <a href="#" class="price-btn">Get Ticket <span class="arrow_right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Section End -->
{{ end }}

{{ partial "newsletter" . }}

{{ if .Site.Params.homepage.venue.display }}
{{ with .Site.Params.venue }}
<!-- Contact Section Begin -->
<section class="homepage-venue-section venue-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {{ partial "venue" . }}
            </div>
            <div class="col-lg-6 map">
                {{ partial "map" (dict "width" "100%" "height" "400") }}
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
{{ end }}
{{ end }}
{{ end }}
